[submodule "GuangFuJie/GuangFuJie/Submodules/Alamofire"]
	path = GuangFuJie/GuangFuJie/Submodules/Alamofire
	url = https://github.com/Alamofire/Alamofire.git
[submodule "GuangFuJie/GuangFuJie/Submodules/AFNetworking"]
	path = GuangFuJie/GuangFuJie/Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "GuangFuJie/GuangFuJie/Submodules/QiNiuSDK"]
	path = GuangFuJie/GuangFuJie/Submodules/QiNiuSDK
	url = https://github.com/qiniu/objc-sdk.git
[submodule "GuangFuJie/GuangFuJie/Submodules/HappyDNS"]
	path = GuangFuJie/GuangFuJie/Submodules/HappyDNS
	url = https://github.com/qiniu/happy-dns-objc.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MBProgressHUD"]
	path = GuangFuJie/GuangFuJie/Submodules/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MJExtension"]
	path = GuangFuJie/GuangFuJie/Submodules/MJExtension
	url = https://github.com/CoderMJLee/MJExtension.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MJRefresh"]
	path = GuangFuJie/GuangFuJie/Submodules/MJRefresh
	url = https://github.com/CoderMJLee/MJRefresh.git
[submodule "GuangFuJie/GuangFuJie/Submodules/IQKeyboardManager"]
	path = GuangFuJie/GuangFuJie/Submodules/IQKeyboardManager
	url = https://github.com/hackiftekhar/IQKeyboardManager.git
[submodule "GuangFuJie/GuangFuJie/Submodules/ZLPhotoLib"]
	path = GuangFuJie/GuangFuJie/Submodules/ZLPhotoLib
	url = https://github.com/MakeZL/ZLPhotoLib.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MeiqiaSDK"]
	path = GuangFuJie/GuangFuJie/Submodules/MeiqiaSDK
	url = https://github.com/Meiqia/MeiqiaSDK-iOS.git
[submodule "GuangFuJie/GuangFuJie/Submodules/SnapKit"]
	path = GuangFuJie/GuangFuJie/Submodules/SnapKit
	url = https://github.com/SnapKit/SnapKit.git
[submodule "GuangFuJie/GuangFuJie/Submodules/YCUtils"]
	path = GuangFuJie/GuangFuJie/Submodules/YCUtils
	url = https://github.com/ycabc1989/YCUtils.git
[submodule "GuangFuJie/GuangFuJie/Submodules/FSTextView"]
	path = GuangFuJie/GuangFuJie/Submodules/FSTextView
	url = https://github.com/lifution/FSTextView.git
