[submodule "GuangFuJie/GuangFuJie/Submodules/MJExtension"]
	path = GuangFuJie/GuangFuJie/Submodules/MJExtension
	url = https://github.com/CoderMJLee/MJExtension.git
[submodule "GuangFuJie/GuangFuJie/Submodules/IQKeyboardManager"]
	path = GuangFuJie/GuangFuJie/Submodules/IQKeyboardManager
	url = https://github.com/hackiftekhar/IQKeyboardManager.git
[submodule "GuangFuJie/GuangFuJie/Submodules/AFNetworking"]
	path = GuangFuJie/GuangFuJie/Submodules/AFNetworking
	url = https://github.com/AFNetworking/AFNetworking.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MBProgressHUD"]
	path = GuangFuJie/GuangFuJie/Submodules/MBProgressHUD
	url = https://github.com/jdg/MBProgressHUD.git
[submodule "GuangFuJie/GuangFuJie/Submodules/HappyDNS"]
	path = GuangFuJie/GuangFuJie/Submodules/HappyDNS
	url = https://github.com/qiniu/happy-dns-objc.git
[submodule "GuangFuJie/GuangFuJie/Submodules/QiNiuSDK"]
	path = GuangFuJie/GuangFuJie/Submodules/QiNiuSDK
	url = https://github.com/qiniu/objc-sdk.git
[submodule "GuangFuJie/GuangFuJie/Submodules/UICountingLabel"]
	path = GuangFuJie/GuangFuJie/Submodules/UICountingLabel
	url = https://github.com/dataxpress/UICountingLabel.git
[submodule "GuangFuJie/GuangFuJie/Submodules/MJRefresh"]
	path = GuangFuJie/GuangFuJie/Submodules/MJRefresh
	url = https://github.com/CoderMJLee/MJRefresh.git
[submodule "GuangFuJie/GuangFuJie/Submodules/ZLPhotoLib"]
	path = GuangFuJie/GuangFuJie/Submodules/ZLPhotoLib
	url = https://github.com/MakeZL/ZLPhotoLib.git
